* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    color: #000;
}

header {
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid red;
    transition: all 0.50s ease;
}

.logo a {
    font-size: 36px;
    font-weight: 600;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul {
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: 600;
}

.icon-con {
    padding-left: 30px;
}

.icon-con a {
    padding: 7px 8px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 14px;
    margin-left: 12px;
}

.icon-con a:hover {
    background-color: skyblue;
    transition: all 0.5s;
    color: #545050dd;
    border-color: lightcoral;
}

header nav ul a:hover {
    color: skyblue;
    transition: 0.5s;
}

header nav ul a.active {
    color: skyblue;
}

#menu {
    font-size: 24px;
    font-weight: 800;
    display: none;
}

.icon-2 {
    display: none;
}

.menu-open {
    display: none;
}

#close {
    padding: 7px 10px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 18px;
    margin-left: 12px;
}

@media (max-width:1260px) {
    header {
        padding: 15px 10%;
    }
}

@media (max-width: 991px) {
    #menu {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav {
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 1;
        display: block;
        background: #dfdfdf;
        width: 70%;
        height: 100vh;
        padding: 25px 5%;
        transition: all 0.50s ease;
    }

    nav.open {
        left: 0;
        box-shadow: 200px 0px 28px 0px rgba(0,0,0,0.27);
        -webkit-box-shadow: 200px 0px 28px 0px rgba(0,0,0,0.27);
        -moz-box-shadow: 200px 0px 28px 0px rgba(0,0,0,0.27);
    }

    .menu-open {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
    }

    .icon-2 {
        display: block;
    }

    .icon-1 {
        margin-top: 25px;
    }

    .icon-1 a {
        margin: 0;
    }

    .icon-con {
        padding: 0;
    }

    .logo-2 {
        font-size: 5vw
    }

    nav ul {
        margin-top: 25px;
    }

    /* header nav ul {
        position: absolute;
        display: block;
        top: 25%;
        left: -100%;
        padding: 25px 8%;
        border: 2px solid red;
        width: 50%;
        height: 100vh;
    }

    header nav ul li {
        margin: 18px 0;
    }

   header nav ul.open{
        left: 0%;
    } */
}